<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF8" />
        <link rel="stylesheet" href="{{url_for('explog.static', filename='style.css')}}" />
        <title>Explog</title>
    </head>

    <body>
        <form
        action="{{ url_for('explog.tab') }}"
        method="POST"
        novalidate="novalidate"
        >
        {{ form.csrf_token }}
        <table width="95%">
            <tr><td>
        <!-- {{ form.shot.label }}{{ form.shot(placeholder='integer') }} -->
        {{ form.shot.label }}<input id="shot" max="999999" min="1" name="shot" required type="number" value="{{ form.shot.default }}">
        {% for error in form.shot.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {{ form.table.label }}{{ form.table() }}
        
        
        {{ form.btn_move() }}
        </td><td>
        {{ form.btn_prev_page() }}
        {{ form.btn_prev() }}
        {{ form.btn_next() }}
        {{ form.btn_next_page() }}
        {{ form.btn_last() }}
        </td></tr></table>
        <table width="95%">
            <tr><td align="right">
        {{ form.btn_save() }}
            </td></tr>
        </table>

        <table class="basic" width="95%">
            {% for h in form.header %}
            <tr>
                {% for e in h%}
                <th colspan="{{ e[1] }}">{{ e[0] }}</th>
                {% endfor %}
            </tr>
            {% endfor %}
            
            <tr>
                <!-- 入力行の作成 -->
                <!-- (html_name, value, editable, type, width, height) -->
                {% for e in form.fields %}
                <td  style='background:#ffcccc'>
                    {% if not e.editable %}
                        <input type="hidden" name="{{ e.html }}" value="{{ e.val }}" />
                        {{ e.val }}
                    {% elif e.htype == "text" %}
                        <input type="text" name="{{ e.html }}" value="{{ e.val }}" size="{{ e.width }}" />
                    {% elif e.htype == "textarea" %}
                        <textarea name="{{ e.html }}" cols="{{ e.width }}" rows="{{ e.height }}">{{ e.val }}</textarea>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            <!-- 残りのデータの表示 -->
            {% for oc in coms %}
            <tr>
                {% for e in oc %}
                    <td>{{ e }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>         
        </form>
    </body>
</html>